body {
    background-color: #eff3f2;
}
.img-custom {
    width: 100%;
    max-width: 300px; 
    border-radius: 15px; 
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.image-container p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}
.text-container {
    margin-left: -40px;
}
.text-container p {
    margin: 0;
    font-size: 14px;
    color: #555;
}
.text-container strong {
    font-size: 16px;
    color: #000;
}