body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    margin: 20px 0;
}

.productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    grid-gap: 20px; /* Espacio entre los elementos */
    padding: 20px;
    justify-items: center; /* Centrar los productos en cada columna */
}

.producto {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s ease;
}

.producto img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.producto p {
    margin: 5px 0;
}

.producto:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive: ajustar para pantallas más pequeñas */
@media (max-width: 768px) {
    .productos {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .productos {
        grid-template-columns: 1fr; /* 1 columna en pantallas muy pequeñas */
    }
}
